# NPM
node_modules/**/*
backstop_data/**/*

# Windows image file caches
Thumbs.db
# Windows Folder config file
Desktop.ini

# Mac junk
.DS_Store
example-site/npm-debug.log

# Other
.vscode

# Test init files
bivariate_data/*
